{% extends "base.html" %}
{% block title %}{{ event.title }} • Tickets{% endblock %}
{% block content %}
<div class="w-screen h-screen flex">
    <div class="h-full w-96 p-4 flex flex-col space-y-3">
        <form action="/event/{{ event.id }}" method="post" class="flex flex-col space-y-3">
            <input type="hidden" name="csrf" value="{{ session.csrf_token }}"></input>
            <div class="flex justify-between">
                <a href="/" class="flex items-center space-x-2 text-blue-800">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </a>
                <input type="submit" class="cursor-pointer text-blue-800 bg-blue-50 hover:bg-blue-100 px-3 rounded-full" value="Save"></input>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="mx-4 bg-red-400 text-white p-4 rounded">
                        {% for message in messages %}
                        <li>
                            {% if message == "no_title" %} Event must have a title {% endif %}
                            {% if message == "too_long_title" %} Event title can be at most 32 characters {% endif %}
                            {% if message == "too_long_info" %} Event info can be at most 512 characters {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <input type="text" id="title" name="title" placeholder="Event title" class="text-xl px-2 py-1 flex-grow border border-gray-200 rounded" value="{{ event.title }}" />
            <details>
                <summary class="cursor-pointer">Details</summary>
                <div class="flex flex-col space-y-3 pt-3">
                    <label for="date">
                        <div class="text-sm uppercase mb-1 flex justify-between">
                            <span class="opacity-60">Date (optional)</span>
                            <button type="button" onclick="document.getElementById('date').value = ''" class="text-blue-800 bg-blue-50 hover:bg-blue-100 px-3 rounded-full">Clear</button>
                        </div>
                        <input type="date" id="date" name="date" class="px-3 py-2 w-full border border-gray-200 rounded" value="{{ event.date.strftime("%Y-%m-%d") if event.date else "" }}" />
                    </label>
                    <label for="extra-info">
                        <div class="text-sm uppercase mb-1 flex justify-between">
                            <span class="opacity-60">Extra info (optional)</span>
                            <button type="button" onclick="document.getElementById('description').value = ''" class="text-blue-800 bg-blue-50 hover:bg-blue-100 px-3 rounded-full">Clear</button>
                        </div>
                        <textarea id="extra-info" name="extra-info" rows="4" class="px-3 py-2 w-full border border-gray-200 rounded">{{ event.extra_info }}</textarea>
                    </label>
                    <button type="button" onClick="deleteEvent()">Delete event</button>
                </div>
            </details>
            <nav class="border-t pt-4 flex flex-col space-y-3">
                <span class="flex items-center space-x-2 text-gray-600">
                    <i class="fas fa-circle fa-xs"></i>
                    <span>Tickets ({{ event.ticket_count }})</span>
                </span>
                <a href="/event/{{ event.id }}/passes" class="flex items-center space-x-2 text-blue-800">
                    <span>Passes ({{ event.pass_count }})</span>
                </a>
                <a href="/event/{{ event.id }}/organisers" class="flex items-center space-x-2 text-blue-800">
                    <span>Organisers ({{ event.organiser_count }})</span>
                </a>
            </nav>
        </form>
    </div>
    <div class="h-full flex-grow flex flex-col items-center overflow-x-scroll">
        <form action="/event/{{ event.id }}/tickets" method="post" class="my-8 text-lg">
            <input type="hidden" name="csrf" value="{{ session.csrf_token }}"></input>
            <label for="new-ticket-count" class="space-x-4 ">
                <span>New tickets:</span>
                <input type="number" id="new-ticket-count" name="new-ticket-count" value="1" min="1" max="100" class="ml-2 px-2 py-1 border border-gray-200 rounded"></input>
            </label>
            <button type="submit" class="ml-4 cursor-pointer text-sm uppercase px-4 py-2 rounded text-blue-800 bg-blue-50 hover:bg-blue-100">
                Create
            </button>
        </form>
        <ul class="flex flex-col space-y-2">
            {% for ticket in tickets %}
                <li>
                    <details class="bg-gray-50 px-3 py-2 rounded">
                        <summary class="flex space-x-4 items-center cursor-pointer">
                            <span class="font-mono text-blue-800 font-bold uppercase">{{ ticket.id }}</span>
                            <span class="flex-grow w-20"></span>
                            {% if ticket.user_id %} <i class="w-4 fas fa-lock"></i> {% else %} <span class="w-4"></span> {% endif %}
                            {% if ticket.stamped %} <i class="w-4 fas fa-certificate"></i> {% else %} <span class="w-4"></span> {% endif %}
                        </summary>
                        <div class="mt-2 flex flex-col space-y-2">
                            <div class="flex items-center space-x-2">
                                <i class="far fa-clock"></i>
                                <span>Created at {{ ticket.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</span>
                            </div>
                            <div class="flex items-center space-x-2">
                                {% if ticket.stamped %}
                                    <i class="fas fa-certificate"></i>
                                    <span>Stamped by {{ ticket.stamped_by_username }} at {{ ticket.stamped_at.strftime("%Y-%m-%d %H:%M:%S") }}</span>
                                {% else %}
                                    <i class="fas fa-certificate opacity-40"></i>
                                    <span class="opacity-40">Ticket not yet stamped</span>
                                {% endif %}
                            </div>
                            <form action="/ticket/{{ ticket.id }}" method="post">
                                <input type="hidden" name="csrf" value="{{ session.csrf_token }}"></input>
                                <textarea id="extra-info" name="extra-info" placeholder="Extra info for ticket" rows="4" class="px-3 py-2 w-full border border-gray-200 rounded">{{ ticket.extra_info if ticket.extra_info else "" }}</textarea>
                                <div class="flex space-x-2">
                                    <button type="submit" class="cursor-pointer flex-auto flex justify-center items-center space-x-2 text-sm uppercase px-4 py-2 rounded text-blue-800 bg-blue-50 hover:bg-blue-100">
                                        <span>Save ticket</span>
                                        <i class="fas fa-save"></i>
                                    </button>
                                    <a href="/ticket/{{ ticket.id }}" class="cursor-pointer flex-auto flex justify-center items-center space-x-2 text-sm uppercase px-4 py-2 rounded border border-purple-800 text-purple-800 bg-purple-50 hover:bg-purple-100">
                                        <span>Link to ticket</span>
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                    <button type="button" onClick="deleteTicket('{{ ticket.id }}')" class="cursor-pointer flex-auto flex justify-center items-center space-x-2 text-sm uppercase px-4 py-2 rounded text-white bg-red-500 hover:bg-red-400">
                                        <span>Delete ticket</span>
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    function deleteEvent() {
        const sure = confirm("Are you sure you want to delete this event?")
        if (sure) {
            fetch("/event/{{ event.id }}", {
                method: "DELETE",
                body: new URLSearchParams({
                    "csrf": "{{ session.csrf_token }}"
                })
            })
            window.location.href = "{{ url_for('index') }}";
        }
    }
    function deleteTicket(id) {
        const sure = confirm("Are you sure you want to delte this ticket?")
        if (sure) {
            fetch(`/ticket/${id}`, {
                method: "DELETE",
                body: new URLSearchParams({
                    "csrf": "{{ session.csrf_token }}"
                })
            })
            window.location.reload();
        }
    }
</script>
{% endblock %}