{% extends "base.html" %}
{% block title %}{{ event.title }}{% endblock %}
{% block content %}
<div class="w-screen h-screen flex justify-center items-center">
    <div class="px-4 py-4 bg-gray-50 rounded-lg">
        <form action="/event/{{ event.id }}" method="post" class="flex flex-col space-y-4">
            <div class="flex justify-between items-center space-x-4 pb-3 border-b">
                <input type="text" id="title" name="title" placeholder="Event title" class="text-xl px-2 py-1 flex-grow border border-gray-200 rounded" value="{{ event.title }}" />
                <a href="/" class="flex-shrink-0 w-24 text-center cursor-pointer text-sm uppercase px-4 py-2 rounded text-red-800 bg-blue-50 hover:bg-blue-100">Cancel</a>
                <input type="submit" class="flex-shrink-0 w-24 text-center cursor-pointer text-sm uppercase px-4 py-2 rounded text-blue-800 bg-blue-50 hover:bg-blue-100" value="Done" />
            </div>
            <label for="date">
                <div class="text-sm uppercase mb-1 flex justify-between">
                    <span class="opacity-60">Date (optional)</span>
                    <button type="button" onclick="document.getElementById('date').value = ''" class="text-blue-800 bg-blue-50 hover:bg-blue-100 px-3 rounded-full">Clear</button>
                </div>
                <input type="date" id="date" name="date" class="px-3 py-2 w-full border border-gray-200 rounded" value="{{ event.date.strftime("%Y-%m-%d") if event.date else "" }}" />
            </label>
            <label for="extra-info">
                <div class="text-sm uppercase mb-1 flex justify-between">
                    <span class="opacity-60">Extra info (optional)</span>
                    <button type="button" onclick="document.getElementById('description').value = ''" class="text-blue-800 bg-blue-50 hover:bg-blue-100 px-3 rounded-full">Clear</button>
                </div>
                <textarea id="extra-info" name="extra-info" rows="8" class="px-3 py-2 w-full border border-gray-200 rounded">{{ event.extra_info }}</textarea>
            </label>
        </form>
    </div>
</div>
{% endblock %}