{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block content %}
<div class="mx-4 py-4 border-b flex items-center justify-between sticky top-0 bg-white">
    <h1 class="text-3xl font-bold">Keepgate</h1>
    <span class="flex-shrink-0 space-x-4">
        <span class="text-sm uppercase">Signed in as <span class="font-bold">{{ username }}</span></span>
        <a href="/event" class="pointer text-sm uppercase px-4 py-2 rounded text-blue-800 bg-blue-50 hover:bg-blue-100">New event</a>
        <a href="/signout" class="pointer text-sm uppercase px-4 py-2 rounded text-white bg-red-500 hover:bg-red-400">Sign out</a>
    </span>
</div>
<div>
    <article class="m-4">
        <h2>Your events:</h2>
        <ul class="my-2 flex flex-col space-y-2">
            {% for id, title, date, extra_info, ticket_count in own_events %}
                <li class="flex space-x-8 items-center bg-gray-50 px-3 py-2 rounded">
                    <a href="#" class="text-blue-800 font-bold capitalize flex-grow">{{ title }}</a>
                    <span class="text-sm uppercase opacity-60">60 tickets</span>
                    <span class="text-sm uppercase opacity-60">40 passes</span>
                    <span class="text-sm uppercase opacity-60">3 organisers</span>
                    <span class="text-sm uppercase opacity-60">
                        {% if date %}
                            {{ date }}
                        {% else %}
                            No date
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
        <h2>Events you are an organiser of:</h2>
        <ul class="my-2 flex flex-col space-y-2">
            <li class="flex space-x-8 items-center bg-gray-50 px-3 py-2 rounded">
                <span class="flex-grow flex items-center space-x-4">
                    <a href="#" class="text-blue-800 font-bold capitalize">Pippalot</a>
                    <span class="text-sm opacity-60">(emsknock)</span>
                </span>
                <span class="text-sm uppercase opacity-60">50 tickets</span>
                <span class="text-sm uppercase opacity-60">20 passes</span>
                <span class="text-sm uppercase opacity-60">6 organisers</span>
                <span class="text-sm uppercase opacity-60">21.9.2022</span>
            </li>
        </ul>
    </article>
</div>
{% endblock %}