{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="w-screen h-screen flex justify-center items-center">
    <div class="px-5 py-4 bg-gray-50 rounded-lg w-2/4">
        <h1 class="text-3xl font-bold">Keepgate</h1>
        <p class="py-4 border-b">
            An event management system bodged together for the University of Helsinki Databases lab, autumn 2021
        </p>
        <p class="mt-4 flex space-x-2">
            <a href="/signup" class="cursor-pointer text-sm uppercase w-2/4 px-4 py-2 rounded text-center text-white bg-blue-500 hover:bg-blue-400">Sign up</a>
            <a href="/signin" class="cursor-pointer text-sm uppercase w-2/4 px-4 py-2 rounded text-center text-white bg-green-500 hover:bg-green-400">Sign in</a>
        </p>
    </div>
</div>
{% endblock %}