{% extends "base.html" %}
{% block title %}Pass transactions{% endblock %}
{% block content %}
<div class="mx-4 py-4 border-b flex items-center space-x-4 sticky top-0 bg-white">
    <a href="/" class="flex items-center space-x-2 text-blue-800">
        <i class="fas fa-arrow-left"></i>
        <span>Back</span>
    </a>
    <h1>
        <span class="font-bold">Pass transactions:</span>
        <span class="font-mono">{{ valuepass.id }}</span>
    </h1>
    <span>
        <span class="font-bold">Current value:</span>
        <span class="font-mono">{{ valuepass.value }}</span>
    </span>
</div>
<ul class="p-4 flex flex-col space-y-2">
    {% for transaction in transactions %}
        <li class="bg-gray-100 rounded px-3 py-2 flex flex-col space-y-1">
            <span class="flex items-center space-x-2">
                <span class="">
                    {% if transaction.value > 0 %}
                    <i class="fas fa-plus fa-lg"></i>
                    {% elif transaction.value < 0 %}
                    <i class="fas fa-minus fa-lg"></i>
                    {% endif %}
                </span>
                <span class="text-5xl font-bold text-right">{{ transaction.value | abs }}</span>
            </span>
            <span class="opacity-60">Made by @{{ transaction.username }}</span>
            <span class="opacity-60">At {{ transaction.time.strftime("%Y-%d-%m %H:%M:%S") }}</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}