{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="w-screen h-screen flex justify-center items-center">
    <div class="px-5 py-4 bg-gray-50 rounded-lg w-2/4">
        <div class="flex justify-between items-center pb-3">
            <h1 class="flex space-x-4 text-3xl">
                <span class="font-bold">Keepgate</span>
                <span class="opacity-60">Sign up</span>
            </h1>
            <a href="/signin" class="cursor-pointer text-sm uppercase px-4 py-2 rounded text-blue-800 bg-blue-50 hover:bg-blue-100">Sign in</a>
        </div>
        <form action="/signup" method="post" class="flex flex-col space-y-4 py-2 border-t">
            <label for="username">
                <div class="text-sm uppercase mb-1 opacity-60">Username</div>
                <input type="text" id="username" name="username" autocomplete="username" class="px-3 py-2 w-full border border-gray-200 rounded" />
            </label>
            <label for="new-password">
                <div class="text-sm uppercase mb-1 opacity-60">Password</div>
                <input type="password" id="new-password" name="new-password" autocomplete="new-password" class="px-3 py-2 w-full border border-gray-200 rounded" />
            </label>
            <label for="confirm-password">
                <div class="text-sm uppercase mb-1 opacity-60">Password again</div>
                <input type="password" id="confirm-password" name="confirm-password" autocomplete="new-password" class="px-3 py-2 w-full border border-gray-200 rounded" />
            </label>
            <button type="submit" class="cursor-pointer text-sm uppercase px-4 py-2 rounded text-white bg-green-500 hover:bg-green-400">
                Create account
            </button>
        </form>
    </div>
</div>
{% endblock %}